.info-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffff35; /* Green background color */
    color: black; /* White text color */
    padding: 15px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
    z-index: 1000; /* Ensure the popup is on top of other elements */
    opacity: 0.9; /* Opacity */
    transition: opacity 0.5s ease-in-out; /* Add a fade effect when closing */
  }
  
  .information-popup p {
    margin: 0;
  }