.md-note-space {
    h1 {
        font-size: 2em;
        /* Equivalent to 32px if base font size is 16px */
    }

    h2 {
        font-size: 1.5em;
        /* Equivalent to 24px if base font size is 16px */
    }

    h3 {
        font-size: 1.17em;
        /* Equivalent to 18.72px if base font size is 16px */
    }

    h4 {
        font-size: 1em;
        /* Equivalent to 16px if base font size is 16px */
    }

    h5 {
        font-size: 0.83em;
        /* Equivalent to 13.28px if base font size is 16px */
    }

    h6 {
        font-size: 0.67em;
        /* Equivalent to 10.72px if base font size is 16px */
    }

}