
.carousel{
    position: relative;
    &-button{
        position: absolute;
        background: none;
        border:none;
        font-size: 2rem;
        top:50%;
        transform:translateY(-50%);
        color: rgba(255,255,255,0.5);
        cursor: pointer;
        border-radius: 0.25rem;
        padding: 0.25rem;
        background-color: rgba(0,0,0,0.1);  
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .prev{
        left:1rem;
    }
    .next{
        right:1rem;
    }
}
.slide{
    position: relative;
    inset:0;
    opacity: 0;
    width:24px;
    height:24px;
    img{
        display: block ;
    } 
}
.slide[data-active]{
    opacity: 1;
}